/node_modules

/local

/proxy/settings/settings.json
#⠀⡀⠀⠄⢀⠀⠠⠀⡀⠄⠀⠄⠀⠄⠀⠄⠀⠄⠀⠄⠀⠄⠀⠄⠀⠄⠀⠄⠀⠄⠀⠄⠀⠄⠀⠄⠀⠄⠀⠄⠀⠄⠠⠀⠄⠠⠀⠄⠠⠀⠄⠠⠀⠄⠄⠠⠠⠠⠀⡂⠠⠐⡀⢐⠠⠐⠠⠐⠠⠐⡀⢂⠐⡀⢂⠐⡀⡂⡐⡀⡂⡐⡀⡂⠔⡀⠢⢐⠐⠠⠂⡂⠔⢐⠐⡐⢐⢐⢐⢐⢐⢐
#⠀⡀⠂⠐⠀⠐⠀⠂⠀⠄⠂⡀⠁⠄⠁⡀⠁⠄⠁⡀⢁⠀⡁⢀⠁⠄⠁⡀⠁⠄⠁⡀⢁⠀⡁⠄⠁⠄⠁⠄⢁⠐⠀⠂⠄⢁⠐⠈⠠⠈⡀⠡⠈⠠⠈⠄⠂⠂⡁⠄⠂⡁⠄⢂⠐⡈⠄⠡⢈⠐⡀⢂⠂⢂⠂⠌⠠⠐⠠⠐⡀⢂⢐⢀⢂⠂⠅⠂⠌⠌⡐⡐⠨⠐⡐⠨⢐⠐⡐⡐
#⠂⠀⠄⠁⡀⢁⠈⢀⠁⠠⠀⠄⠂⡀⢁⠀⠂⠠⠁⠀⠄⠠⠀⠄⢀⠂⠐⠀⢁⠀⡁⠀⠄⠠⠀⠄⠂⡀⠁⠄⠠⠀⠡⠐⠈⢀⠠⠁⠂⢁⠀⠂⡁⠄⠡⢀⠁⡂⠄⠂⡁⠄⠂⡐⠠⠐⢈⠐⡀⢂⠂⠂⠌⡀⢂⠡⠈⠌⠄⡁⢂⢂⢐⢀⠂⠌⡐⢁⠅⠌⠄⢂⠡⢁⠂⠅⡂⢌⠐⢄
#⠀⠂⠐⠀⠄⠠⠐⠀⠐⠀⠂⠐⠀⠄⠠⠀⡁⠐⠈⠀⠂⠐⠀⠂⠠⠐⠈⠀⠄⠠⠀⠂⠐⠀⠂⠐⠀⠄⢈⠀⠂⢈⠠⠐⠈⢀⠠⠐⠈⡀⠄⠁⠄⠐⡀⠂⠄⠄⠂⡐⠀⢂⠁⠄⢂⠡⠐⡀⢂⠂⠨⢈⠐⢐⠐⢈⠨⠀⠅⡐⢐⢀⠂⡐⡈⡐⢐⠐⠠⠡⠨⢐⢈⢐⠨⢐⠐⠄⡑⡐
#⠀⡈⠀⠂⠐⠀⠐⠈⠀⡁⠈⡀⠁⠄⠂⠠⠐⠈⠀⡁⢈⠀A KQT PRODUCTION⡀⢁⠈⡀⠂⠠⠀⡁⠠⠀⠐⠈⢀⠠⠀⡁⠠⢀⠁⠂⡁⠄⡈⠄⠂⠁⠄⠨⠀⢂⠨⢀⠐⡀⢂⠐⡈⡐⠠⠈⠄⠨⢀⠂⠡⢁⢐⠐⡀⡂⢂⢐⠐⡐⠨⢈⠄⠅⡂⡐⠄⢂⠂⠌⡂⠢⠨
#⠀⠠⠈⠀⡁⠈⠠⠈⠀⠄⠂⠀⠂⠐⠀⠂⠐⠈⠀⠄⠀⠄⠠⠀⠄⠐⠀⠂⡀⠄⠠⠀⠄⠠⠀⠄⠀⠂⠁⠠⠀⠂⡈⢀⠁⠄⢀⠂⠐⠈⡀⠄⠁⠄⠠⠀⢂⠨⠀⠡⠈⡐⢀⠂⡐⢀⠂⢂⠐⠠⠠⢁⠡⠈⠌⠠⠈⠔⠐⡀⢂⠂⡐⢐⢀⠂⡂⡁⡂⡐⡁⡐⢐⠨⠐⠨⠐⠄⢅⢑
#⠀⠂⡀⠁⡀⠈⡀⠄⢁⠀⠂⠁⡈⢀⠁⡈⠠⠈⡀⠂⠁⡀⠂⡀⠂⢈⠀⢁⠀⡀⠂⠐⠀⠂⠐⢀⠁⡈⢀⠁⠄⠁⠠⠀⡐⠈⡀⠄⠁⢂⠀⢂⠡⠈⠄⠡⠠⢐⠈⠠⠁⡀⠂⠄⠂⠐⢈⠠⠈⠄⠡⢀⠂⠡⠈⠄⠅⠌⡐⠐⡐⠐⡈⠄⠂⡂⢂⢐⢀⢂⠐⡐⢐⠠⠡⠁⠅⠅⡂⡂
#⠈⢀⠠⠀⠄⠂⠀⠄⠠⠐⠈⠀⠄⠠⠀⠄⠐⢀⠠⠀⢁⠀⠄⠀⠂⠠⠐⠀⠠⠀⠂⠁⡈⢀⠁⠠⠀⠄⠠⠐⠀⠅⠠⠁⠠⠀⠄⠠⢁⢐⠨⢐⠨⠀⢅⢈⠐⠠⢈⠌⢐⢀⠡⠀⠅⠁⠄⠂⡈⠄⠡⠀⠌⠠⠁⠌⢐⠀⡂⠡⠀⠅⡐⢈⠐⡀⡂⡐⡀⢂⠂⡂⢂⠂⠡⠁⠅⡂⡂⠌
#⠈⠀⠀⠄⠐⠀⢁⠀⠂⠀⠂⠁⡀⠂⡀⠂⠈⡀⠠⠐⠀⡀⠂⠁⢈⠀⠐⠈⢀⠐⠈⠀⠄⠠⠀⡁⠐⠀⠂⡁⡐⢈⠠⢈⠄⠡⢈⠔⢀⢢⢱⡰⡜⣜⢔⢦⢣⢕⡔⡔⡐⠄⡂⠅⡂⠁⢂⠁⠄⠂⡁⠌⠠⠁⠌⢐⠀⡂⢐⠈⠄⠡⠐⡀⢂⠂⡐⡀⢂⠂⡂⡐⢐⠈⠌⠨⢐⠐⠠⢑
#⢀⠈⡀⠐⠀⡁⠠⠀⢁⠈⡀⠁⡀⠄⠠⠈⠀⠄⠠⠐⠀⠠⠐⠈⠀⡀⢁⠈⢀⠠⠈⡐⠈⠄⡁⢄⠡⠨⡐⡄⡢⣢⢪⢔⡬⣪⡰⣸⢼⢵⣫⢮⣳⣕⢯⡳⣕⢧⡣⣫⡪⣎⢆⡂⡂⡑⠄⡂⠄⠁⠄⠐⡈⠠⠈⠄⠂⡐⠠⠈⠄⡁⢂⠂⠂⡂⢐⢀⠂⡂⡐⡀⡂⠌⠨⠈⠄⠌⠌⢄
#⠀⢀⠠⠀⢁⠀⠄⠂⠠⠀⠄⠂⠀⠄⠂⢀⠁⠄⠂⢀⠁⠄⠂⢀⠁⡀⠄⠐⡀⠄⠅⡂⢅⡑⡌⣆⣕⣧⣳⢽⣝⣮⡳⣝⣞⣗⡿⣽⢯⡿⣽⣻⣞⣾⣳⡯⣞⡮⣞⢮⡺⣜⣕⢇⢧⣂⢐⠐⠨⡀⢁⠂⠐⢈⠀⡂⠁⠄⠨⠀⠅⢐⠠⢈⠐⢐⠀⡂⡐⡀⠂⠄⠂⠌⠨⠈⠄⠅⢊⠠
#⠀⡀⠄⠐⠀⠠⠀⠂⠀⠂⡀⠂⠁⡀⠂⠠⠀⠂⠐⠀⠄⠐⠀⠄⠠⠀⠄⠂⠄⢅⢕⢜⡲⣝⣽⢷⣿⣷⣿⣿⡾⣷⣟⣗⣗⣷⣻⡽⡯⣟⡽⡽⡯⣿⣻⣿⢿⣽⣮⣗⢽⣚⢮⢯⣳⡪⢮⡢⡡⠀⠅⠄⠡⠐⠀⠄⠡⠈⠄⠡⠈⠄⢐⠠⠈⠄⢂⠐⠠⠠⠡⠈⠌⡈⠄⠡⠁⠌⡐⡈
#⠂⠀⠠⠐⠈⠀⠐⠈⠀⢁⠀⠐⠀⠄⠂⠐⠈⢀⠈⠠⠐⠈⢀⠐⠀⠂⠠⠡⡃⡇⣇⢗⡽⣺⣽⣿⣿⣾⡿⣾⢿⣻⢽⢻⢺⢺⢕⠯⡻⢕⢏⢏⢝⠮⡻⣺⡻⡿⣿⢾⡯⣞⡽⣵⡳⡽⣵⡱⡣⡇⡅⠌⠄⠡⢈⠐⢈⠠⢈⠠⠁⡈⠄⠠⠁⠌⠠⠈⠄⡁⢂⠁⡂⡐⢈⠨⢈⢐⠠⠂
#⠄⠁⠠⠀⠂⠁⡀⢁⠈⢀⠀⡁⠐⠀⠂⠁⠈⡀⠐⠀⠂⠐⠀⠠⠈⠠⡁⢇⢣⣣⢳⡳⡽⣽⣺⣗⡿⡳⡹⠸⡨⠢⡑⠅⡃⠕⡨⢨⠨⡂⠕⡐⠅⢕⢑⠢⠣⡫⡹⢝⡯⣗⣟⡮⣯⣻⣺⢮⢧⡫⡪⡣⡕⡈⠄⢐⠠⠐⢀⠐⡀⢂⠈⠄⠡⠈⠄⡁⢂⠐⡀⢂⠐⡀⢂⢐⢀⠂⠄⠅
#⠠⠈⠀⠐⠀⠁⡀⠠⠀⠄⠠⠀⡈⠄⢈⠀⡁⠀⠄⠁⡈⠀⡁⠐⠈⡐⢌⡎⡧⡳⡳⣝⣞⣞⡾⡮⡳⡑⢅⠕⡐⡁⡂⠅⠌⠢⡈⡂⡢⠨⢂⠊⢌⢂⠢⡑⡑⢌⢜⠸⡸⣕⣗⡯⣷⣻⣺⢽⣻⢮⢧⡣⡓⡕⡅⡐⡀⢂⠐⠠⠐⢀⠐⡈⠄⠨⢀⠐⡀⢂⠐⡀⢂⠐⡀⠂⠄⠨⠠⠡
#⡀⠐⠈⠀⡁⠄⠠⠀⠂⠐⠀⠂⠀⠄⠠⠀⠄⠂⢀⠁⡀⠄⠠⢈⢐⢜⢜⣜⢝⡮⣻⣺⣺⣺⣽⡫⡪⢌⢂⠢⢂⠢⠨⠨⡈⡂⡂⡂⠢⠑⢄⢑⢐⢐⠡⢂⠪⡐⠔⢅⠣⡪⡪⣞⣗⣟⣾⣻⣞⣟⣯⣟⣮⡪⡪⡆⡂⢂⠈⠄⡈⠠⠐⠀⠄⠡⠀⡂⢐⠀⡂⢐⠀⡂⠄⠡⠨⠠⢁⠂
#⠀⠐⠈⠀⡀⠄⠐⠀⠁⠄⠁⡈⠀⠂⠐⢀⠐⠈⠀⡀⠠⠀⡂⢂⢪⡪⣺⢸⢕⡯⣳⣳⣳⣻⡺⡸⡈⡂⡢⠑⡐⠨⡈⠔⢐⢐⢐⠨⠨⠨⢐⢐⢐⠡⡈⡂⢅⠪⡘⢌⢪⢘⢜⢜⢞⡷⡷⡷⣷⣗⣷⣻⣺⣽⡪⡎⡮⡀⡂⠁⠄⠂⡁⠌⠀⠅⠂⠐⡀⠂⡐⢀⠂⡐⢈⠠⠁⡂⢐⢈
#⠠⠈⠀⠁⡀⠀⠂⠁⠐⠀⢁⠀⡈⢀⠁⠠⠐⠈⠀⠄⠂⢁⠄⣇⢧⢳⠵⣝⡵⡯⣗⡯⣞⡷⡝⡌⡢⠊⠄⠅⠌⡂⡂⠅⡂⡂⡂⠌⠌⠌⡐⡐⡐⠌⢔⠨⡐⢌⠢⡑⡌⢆⢕⢜⢕⣟⣟⣿⣳⡿⣞⣷⣟⡾⣝⣗⣝⢼⢐⠈⠄⡁⠄⠂⡁⠄⢁⠂⠄⠁⠄⠐⡀⢐⠀⡐⢀⢂⠐⠠
#⠀⡀⠁⠄⠠⠈⢀⠈⡀⢁⠠⠀⠄⠠⠐⠀⠂⡈⠐⠀⢌⢰⡱⣕⢵⢳⢝⣞⢾⣹⡳⣽⡳⣯⢣⢃⢢⠡⡡⠡⡑⡐⠄⢅⢂⢂⠢⠡⡡⢑⢐⢐⢐⠅⡕⢌⢌⢆⢇⣕⢜⡬⣆⢧⣣⡺⣽⡾⣯⡿⣟⣷⣯⢿⣯⢷⣳⣳⣣⡣⡁⠄⠂⡁⠄⠂⠄⠂⡈⠄⢁⠂⡐⢀⠂⡐⠠⠐⢈⠐
#⠀⠄⠂⠐⠀⠐⢀⠠⠀⠠⠀⠄⠂⠀⢂⠈⠠⠐⠈⡐⡌⡮⣪⢮⣺⡹⣝⡮⡯⣞⡽⣺⣺⣽⡪⡎⡮⡪⡮⣺⣢⢧⢧⣳⢸⢰⡑⡕⢌⠢⡑⡌⡆⣇⢧⢯⣺⢽⣻⡺⡽⡺⣕⢏⡞⡮⣳⢿⣟⣿⣻⢿⣾⢿⡾⣟⣿⣞⣞⣮⡢⡨⠐⡀⢂⠐⡀⠡⠀⠂⠄⠂⡀⢂⠠⠐⠀⠅⢐⠈
#⠁⠠⠐⠀⢁⠈⠀⡀⠐⠀⠂⠠⠈⡀⠂⡀⠡⠐⠨⡰⣹⢪⢧⡳⣵⡫⣗⡽⣝⡮⡯⣗⢷⣳⢕⣕⢕⢝⢜⢕⢕⢝⣕⢗⣝⢕⡕⢕⠅⢕⢑⠜⡜⡼⣕⡯⣺⢝⠮⡚⡝⢜⢪⢳⡹⣺⣪⢿⣽⢿⣿⣻⣽⡿⣿⣟⣷⣟⡷⣗⡷⡌⡂⠄⢂⠐⡀⠂⡁⠈⠄⠂⠐⡀⠐⢈⠠⢁⠐⠠
#⠐⠀⠐⠀⠄⢀⠁⠀⠄⠁⡈⠠⠀⡐⢀⠐⡀⠪⡸⣪⢳⢝⡮⣺⡳⣝⣗⢯⣗⢯⣻⡺⣽⣳⢯⡪⡪⡪⣰⡰⣡⣕⢜⡜⣜⠵⡱⡑⢅⢑⢐⢕⢹⡪⣗⢝⢎⣎⣎⣦⣪⡮⡮⡮⣮⣳⡳⣝⢾⣻⣿⣿⣟⣿⣯⣿⣯⣿⣻⣽⣽⡺⣪⢐⢀⠂⡐⠀⠂⡁⠄⢁⠂⠠⠁⠄⠂⠠⢈⠐
#⢀⠈⡀⢁⠠⠀⠄⠁⡀⠁⡀⠐⠀⠄⠠⢐⠠⡣⣫⢮⣫⣳⣝⣗⡯⣗⣯⣳⢯⣳⢗⡯⡷⡯⣗⣟⢽⢹⢕⢟⢟⢎⢇⢏⠞⠜⢌⠪⡂⡂⢂⠢⡣⡫⡪⡺⡙⡆⡕⢽⢹⢽⢹⢝⡵⡯⡺⡱⣹⣺⢿⣿⣿⣟⣿⣾⣿⣽⣿⣻⣾⢽⡸⡲⡰⠐⡀⢁⠁⠄⠐⡀⠄⢁⠐⡀⠡⢈⠠⢈
#⠀⡀⠄⢀⠠⠀⠂⠠⠀⠂⠠⠈⡀⠂⠡⢐⢜⢜⡮⣳⢵⣳⣳⡳⡯⣗⢷⣝⢷⢽⣝⣞⣯⡻⡜⡜⡪⡣⢣⠣⡣⠣⡃⡪⠘⢌⢊⢌⢂⢂⠅⢌⢎⢎⢎⢎⢎⢪⠪⡪⡪⡪⡪⡣⡓⡕⢕⢕⢕⣗⣿⣿⣿⣿⣿⣷⣿⣽⣾⣯⢿⣻⢮⢸⢘⠔⡐⢀⠂⠨⠀⠄⠂⡐⢀⠐⡀⢂⠐⠠
#⠀⡀⠄⢀⠠⠐⠈⠀⠄⠁⠄⢁⠠⢈⢐⢅⢗⡳⣝⣞⣽⡺⡮⡯⣯⢯⣟⣞⡯⣟⣞⢞⣞⢮⠪⡊⡢⠡⡑⡨⢐⠡⢂⠊⢌⢂⠢⡑⠔⡐⠌⡢⢣⢣⢣⢣⢱⠡⡃⢎⠢⡑⡌⡪⡨⡸⢰⢱⢝⣮⣿⣽⣿⣿⣿⣿⣿⣾⣿⣽⡿⣽⢯⡳⡐⡅⠢⢂⠈⠄⢁⠂⢁⠠⠀⢂⠀⡂⢈⠐
#⠀⠠⠀⠠⠀⡀⠂⠁⡀⢁⠐⢀⠐⡠⢪⢪⢎⢯⣺⡺⡮⡯⣯⢯⣷⣻⣞⡾⣽⣳⡳⡯⣞⢎⢎⠬⠨⡊⡐⠄⢅⠊⢄⢑⢐⠡⡑⢌⠊⢄⠑⢌⠸⡸⡸⡸⡸⡘⡌⢆⠣⡑⢌⠢⡪⢸⢸⢸⢺⣺⢷⣻⣾⣿⣿⣿⣿⣿⣷⣿⣻⣽⢯⡎⡧⡪⠨⡐⢈⠄⠂⢐⠀⡐⠈⠠⠐⢀⠂⠨
#⠐⠀⡈⠀⠄⠠⠀⢁⠀⠄⠐⡀⢂⢊⢆⢗⢭⡳⣳⢽⢽⣫⢷⣻⢾⣺⣞⣯⢗⣗⢯⡯⡮⣣⢣⠱⡑⡐⠌⠌⡂⢌⢂⠢⠡⡑⡌⠔⡨⠠⡑⢄⠕⡜⡜⣕⢕⢕⠸⡐⡑⢌⠪⡨⡊⡎⣎⢮⢯⢯⢯⢯⣿⣿⣿⣷⣿⡿⣯⣿⣯⣿⢽⢧⢳⢱⠡⢂⠂⡂⠡⠐⡀⠐⡈⠠⢈⠠⠈⡐
#⠄⠂⠀⠂⠐⢀⠈⢀⠀⠂⢁⠐⠄⢕⢅⢧⢣⢯⡺⡽⡽⣞⣯⢿⣽⣻⣞⣯⡿⣮⣳⢽⢝⡜⡆⢇⠪⡐⠡⡁⡂⡢⢂⠪⢨⢢⣣⣳⡸⣜⢜⢦⣳⢵⣣⢧⣣⢣⠣⡱⢘⠔⡱⡘⡌⡮⣪⡺⡽⣽⣽⣿⣿⣟⣷⣿⣷⣿⣿⡿⣿⣞⣯⣟⢜⢜⢌⠔⢐⠠⠑⡐⠀⠅⡀⠂⠄⠂⡐⢀
#⠀⠐⠈⢀⠈⢀⠠⠀⠄⢁⠐⠨⡨⢊⢎⢎⢜⢮⡺⡽⡽⣽⣺⢯⡷⣿⣽⣿⣻⣿⣿⣻⣕⢇⢇⢇⠣⡊⢌⢂⠢⢂⠅⢌⢂⠣⡣⡳⡹⡸⡹⡱⡫⣻⡪⣗⢳⠱⡱⡘⢔⠱⡨⡊⡎⡮⡲⣝⣞⣿⣿⣿⣿⣻⣿⣻⣿⣟⣿⣽⡿⣞⡷⣽⢪⢕⢅⢊⠄⡂⠅⢂⠡⠁⠄⡁⢂⠡⠐⠠
#⠀⢁⠐⠀⠐⠀⡀⠂⠐⡀⠌⠌⡰⡱⡱⡁⡮⡺⡸⡽⣝⣗⣯⢿⡽⣟⣾⣟⣿⣿⣽⣿⣗⡕⡕⡅⡣⡊⢔⢐⠅⡢⢑⢐⢐⠡⢢⢱⢑⢅⢇⢕⢱⢱⢱⢕⢅⢇⢪⢸⢨⠪⡢⡣⡣⣣⢳⢕⣷⣿⣿⣿⣿⣽⣟⣿⣯⣿⡿⣟⣿⢯⡿⡵⡣⡣⡣⡂⡊⠄⢊⢀⢂⠡⢁⠐⠄⠂⠌⡐
#⠐⠀⠠⠈⢀⠁⠀⠄⠡⠐⠨⡐⡌⢎⢎⢔⢕⡝⣕⢯⣗⣗⣯⡿⣽⣟⣯⣿⢿⣾⣿⣻⣷⣇⢧⢱⠨⡢⡑⡐⢅⢢⢑⢌⢆⠣⡣⡑⢥⢑⢔⠡⡢⡱⡱⡱⡣⡣⡣⡣⣣⢣⣣⢪⢎⢮⡳⡽⣾⣿⡽⣿⣾⣿⢿⣽⣾⣯⢿⡿⣯⡿⣽⣫⢇⢇⢪⠢⡊⠨⡐⡀⡂⡐⢐⠈⠄⠅⠡⢐
#⢀⠐⢀⠈⢀⠀⠡⢀⠅⠌⡢⡑⢜⢸⢨⢲⢕⢧⢯⣳⣳⣳⢷⣻⣟⣾⢿⣽⡿⣿⢾⣿⣻⣷⣕⢕⢕⠢⡪⢨⠢⡣⢱⢱⢜⣜⢖⡽⣪⠷⡵⡻⡮⡟⡾⡝⣞⠷⡝⡎⡎⡮⡺⡸⣕⢗⡽⣽⣿⣽⣿⣯⣿⣾⡿⣿⣳⣟⣯⢿⣯⣿⣻⣺⣝⢜⢆⢣⠪⡨⡐⠄⡂⡐⢐⠈⠄⠅⠅⡂
#⠠⠀⠄⠐⢀⠈⡐⢐⠠⢁⢆⢎⢪⢢⡣⣳⢵⣫⣗⣗⣗⣯⢿⡽⣯⣿⣻⣽⣟⣿⢿⣽⣟⣯⣷⢇⡇⡇⡎⢆⢣⠪⡊⡢⢑⠜⡌⢎⢆⠝⡌⡪⡸⡸⡸⡸⡸⡪⡪⡪⡪⣪⢳⡹⣪⢗⣿⣿⣷⢿⣻⣿⣷⢷⣟⣯⡿⣽⢾⣻⣷⣻⣾⣳⣳⢕⢇⢧⠱⡐⢔⠡⢂⢂⠡⠈⠄⠅⡂⠢
#⠠⠐⠀⡁⠄⠂⢌⠐⢌⠢⡱⢰⢱⡱⣝⢮⣳⣳⣳⣳⡳⡯⣿⡽⣿⣽⣟⣾⣻⣾⣿⣿⣽⣯⣿⡳⣕⢕⢕⢕⢅⢇⢕⠜⡔⡱⡸⡸⡰⡣⡳⣕⢧⡳⡕⣝⢎⢧⢳⢱⢝⢜⢵⢝⡾⣽⣻⣿⣽⣿⣿⣿⣻⣿⣽⣾⣻⣽⢿⣽⢾⡿⣞⡷⡯⡯⣎⢇⢏⢆⠕⢌⢂⢂⠂⠅⠡⢁⠄⢅
#⠠⠀⡁⡀⢂⠅⡂⢕⢐⢕⢸⢜⢵⢝⢎⡗⣗⣗⣗⣗⡿⣽⡷⣿⡿⣷⣿⣽⣿⣽⣷⣿⣟⣯⣿⡺⡸⡱⣣⢣⢣⢊⢆⢣⠱⡑⡌⡪⡘⢜⢘⠜⡘⢌⠪⠢⡣⢣⢣⢣⢣⢫⢮⢗⣟⡮⣿⣿⣻⣿⣾⣿⣿⢿⣾⣯⣿⣯⣿⣽⣟⣿⣻⣽⢯⣟⢮⢧⡣⡣⡑⡕⢔⢐⠡⠡⡁⡂⠌⠄
#⠂⡁⡀⡂⢢⠡⡨⢢⢑⣜⢼⢝⢵⢝⡵⡽⣵⣳⣗⣿⣺⣳⣟⣯⣿⣿⣾⡷⣿⣻⣯⣿⡽⣟⣷⢣⢫⢪⢪⢪⢎⡆⡇⡢⡱⠨⡂⡢⢊⢐⠄⢕⠨⡂⢕⠱⡘⡜⡌⣎⢮⡳⡽⣝⢮⣞⣿⣟⣿⣿⣽⣷⣿⣿⣿⣽⣷⣿⢿⣾⣳⢿⣽⢾⣻⣞⣯⢷⣝⢮⡪⡪⡐⢅⠪⢐⠐⠄⠅⢅
#⡐⠠⡂⢌⢢⡨⣪⡪⡮⣺⢵⣫⣗⡯⣯⡻⣞⣷⣻⢞⡮⣷⣻⣯⣿⣾⣷⡿⣟⣿⡽⣞⣯⢿⣽⢪⢪⠸⡘⡜⡜⡜⣜⢼⢰⢱⢑⠔⡅⢆⢣⢣⢣⢣⢱⢱⢱⡱⡽⡼⣕⢯⡫⣞⢵⢯⢿⣽⣿⣻⣯⣿⣯⣷⣿⣿⣻⣿⣿⣻⣞⣿⣺⢿⣽⢾⣽⣳⢯⣗⡯⣞⣜⢔⢅⢅⠊⠜⡨⠂
#⠪⡘⡌⡎⣎⢮⡪⣞⣽⣳⣻⣺⢞⣽⣺⢽⣻⡾⣽⢽⢽⣳⣯⣿⣯⣷⣟⣟⣯⡷⡿⣽⣺⡽⣞⣇⢇⢇⢕⢱⠸⡸⡰⡱⡱⢕⡳⡹⡜⡵⡳⣕⢗⡵⡳⣝⢵⡫⣯⡺⣕⢯⡺⣕⢯⢯⢟⣗⡿⣯⣿⡷⣟⣯⣷⣿⡿⣯⣿⣯⣷⣻⣞⣿⣺⣯⢷⣟⣯⡷⡿⣵⣳⢝⡮⣢⠣⡁⡢⠡
#⡱⡸⡸⣜⢮⣺⣺⢽⣺⣺⣺⣺⢽⣺⣞⣿⣽⣟⣯⡿⣽⣻⣞⣷⡿⣷⣟⣯⢷⢯⣟⣞⡾⡽⣽⣞⡜⡆⡇⡪⡸⠰⡑⡕⢕⢕⢕⢕⢕⢝⡜⡮⡳⣹⢹⣪⡳⣝⢞⢮⢎⢧⡫⣞⢽⡹⣝⢞⢎⢟⡾⣿⣻⣽⢷⣻⣽⢿⣯⡿⣿⣞⣗⣷⣻⣞⣯⡿⣞⣟⣯⡷⣯⣻⢮⣳⢽⢬⠢⡑
#⢣⡳⣝⢮⣳⡳⣽⢽⣞⣾⣺⣞⣯⡷⣟⣷⢿⡾⣯⣟⣗⣷⢿⣽⣟⣷⣟⡾⣫⣗⣗⣗⡯⣯⣗⢗⢵⢕⢕⠕⡜⢌⢪⢸⢘⢜⠜⡜⡜⡕⡕⡕⡝⡜⡕⣕⢕⢗⢝⢎⢗⡳⡝⡎⡇⡧⡳⡝⡸⢘⢜⢝⣟⡾⡯⣷⣻⡽⣾⣻⣯⡿⣞⣷⣳⣟⣾⣻⣽⣯⢷⣟⡷⣯⣻⣺⣳⣳⢽⢰
#⡣⡯⡮⣗⡷⡯⡯⣟⣾⣳⣻⣺⣗⡿⣽⢯⡿⣽⢷⣻⣞⣯⣿⣳⣟⣾⣺⣝⣗⣗⢗⣗⡯⡷⡽⡕⢕⢕⢕⢕⢕⢱⢑⠜⡌⡖⢕⢕⢕⢕⢕⢕⢕⢕⢝⢜⢕⢝⢜⡕⡧⡳⡹⡸⡸⡸⡸⠨⡐⡁⡂⡂⠳⡽⡯⣗⣗⣯⣟⢾⣳⢿⣻⣗⡿⣾⢯⡿⣾⡽⣿⢽⣯⢷⣻⣞⣾⣺⢽⢵
#⡺⡽⣝⣗⡯⡯⡯⣗⣷⣳⣗⣿⣺⢯⣟⡯⣿⢽⡯⡷⣯⢷⣳⣟⣞⣗⣗⣗⢗⣗⢯⣞⡽⣽⣝⢎⠢⡑⢕⢱⠨⡢⢣⠱⡸⢸⢸⢸⢸⢸⢸⢸⢸⢸⢱⢱⢱⢱⢱⢕⢕⢕⢕⠱⡨⢢⠃⢅⢂⠢⠨⠠⠑⢝⡯⣟⣞⡾⣺⢽⣞⣟⣯⣯⢿⡽⣟⣿⣽⣟⣿⣻⡾⣟⣿⣺⣗⣯⢿⢽
#⡯⣻⡺⡮⣯⢯⡯⣗⣷⣻⣞⣷⣻⢽⢮⣻⣞⡯⡯⣟⣽⢽⣳⣻⣺⣳⣳⣝⣗⢽⢵⣳⢽⣳⡳⡅⡑⡨⢀⠣⡑⢌⠢⡃⠎⢜⠰⡱⡱⡱⡑⡕⡱⡑⡅⡣⡑⡅⡇⢇⠣⡑⠔⡑⢌⠢⢑⢐⠡⠨⠨⠈⠌⡸⣝⣗⡯⡾⣝⣗⣗⣟⡾⣽⡯⣿⢽⣳⢿⣞⣯⣷⢿⡯⣟⣷⢿⣽⣻⣗
#⢟⡮⡯⡯⣯⢷⢯⣟⣞⣷⣻⣺⡽⣽⢽⣺⣺⣺⢽⡳⡯⡯⣗⣟⣞⣗⣗⣗⣗⢽⡳⣳⣻⣺⣝⢆⢂⢂⠂⠄⠑⢅⢊⢐⠅⢅⠕⡨⠢⡑⠕⢌⠢⡊⠔⡑⢌⠢⡑⡡⠑⠌⠌⠂⠡⠈⢐⠐⠈⠌⠐⠁⢁⠘⡪⡓⢏⠏⢗⢓⢗⠫⡫⡳⠻⡹⢫⢫⠻⡹⢝⠞⢟⠻⡻⢹⢛⢞⠯⡳
#⣯⢞⡽⣝⣗⣯⣟⣾⣳⡻⡮⣗⡯⣗⣟⣞⣞⡾⡽⡽⡽⣽⢽⣺⣳⢽⣺⡺⣮⡳⡯⣳⣳⣳⢯⡒⡐⡐⠈⠄⠁⠌⠢⡂⡊⡐⡨⢐⠅⢕⠡⡁⡂⡂⠅⡂⡂⡢⢂⠢⠡⡁⠐⠈⢀⠐⡀⠂⠁⡀⡂⡡⢀⠐⡰⢘⡐⢅⠣⡒⡰⢑⢌⢌⠪⠢⡑⢔⢑⢌⢢⢑⢅⠣⡊⡢⠱⡐⠕⡌
#⣯⢗⡯⣗⣯⢾⣞⡷⣽⢽⣝⢷⢽⢵⣳⡳⣗⡯⣯⢯⡯⡷⡯⣗⡯⣟⡮⣟⣞⢞⡽⣵⡳⡯⡯⣇⠆⠌⠌⠠⠁⠄⢁⠪⡐⡐⠌⢔⠨⢂⠊⢄⢂⠂⠅⢂⢂⢂⠢⢈⢂⠂⡁⠈⠀⠄⠄⡂⡐⡈⢄⢂⠡⡐⡌⣆⢊⢢⢑⠔⣬⢢⢕⢌⡪⡪⡨⡢⡱⡐⣥⢢⢡⠱⡨⡨⡊⡌⡪⢂
#⢾⢽⣺⡳⡯⣿⣺⢯⢯⣗⣗⢯⢯⣳⣳⣫⢗⡯⣗⣟⡾⣽⣫⢷⢯⣗⡯⣗⣗⢯⢯⢞⣽⢽⢯⢧⢡⠡⠑⡐⢀⠈⠠⢀⠣⢪⠨⡂⢌⢂⢑⢐⢐⠨⠨⢐⠐⡐⠨⡐⠄⠅⠀⠠⢈⠠⢐⢰⢑⢅⠅⢂⠕⡕⣧⢣⢱⢐⢅⠪⡺⡙⠮⡪⠧⡫⠪⢇⠝⡇⠽⠬⠢⡑⢔⢂⠪⡰⠨⢢
#⣻⣝⢮⢯⣟⣗⡿⣯⣗⡧⣗⢯⣻⣺⡺⡮⡯⡯⣳⢗⣯⣗⡯⡯⣗⢷⣝⣗⡽⡽⡽⣽⣺⢯⢿⣕⠱⡨⠐⡐⠠⠐⠈⢀⢈⠢⡣⠨⢂⢂⢂⢂⠢⠨⠨⢐⠨⠠⡑⠄⡃⠅⠐⠀⢂⠈⢂⠱⡑⡌⠢⢂⢊⢎⢾⢱⢑⠕⡐⡱⢴⢜⡬⡢⡱⣘⢜⡔⣕⢌⣪⢸⠨⣊⢆⢅⠣⡊⢜⠰
#⢷⢽⢝⣗⡷⡯⣟⣷⣻⣞⡷⣝⡮⣺⣺⢽⢽⢽⢵⣻⣺⣺⢽⡽⣝⣗⣗⢷⢽⢽⡽⣞⡾⣯⢿⢮⠣⡢⡁⡂⠅⡈⢈⢀⠠⠘⡌⢎⢂⠢⡁⠢⠡⠡⠑⠄⠅⢅⠢⢑⠈⠄⠠⠁⠄⠂⠐⠈⠄⢑⠡⢑⠐⡑⠕⢕⠢⡑⢌⠢⡫⠣⡑⠝⡕⢝⠜⢕⠪⡃⡇⠧⡙⢎⠭⠣⡑⢌⢆⠣
#⣻⢽⢝⡮⣯⢿⡽⣾⣺⣞⣯⢿⣞⣧⡗⡯⡯⣯⣳⣳⡳⡽⣽⣺⢽⣺⣺⢽⡽⣽⣺⡽⣽⣞⣯⢯⢇⢪⢐⠠⠡⠀⠄⡀⠂⡐⠨⢘⢔⢑⠌⠌⢌⠌⠌⠌⢌⠂⢌⠰⡨⠨⠀⠂⠐⠀⠂⠀⠂⠀⠄⠂⠀⠐⢅⠕⢌⢌⠢⡑⢌⠪⡨⢊⢌⢢⢑⠅⢕⠌⡢⡑⢌⠆⢕⠡⡣⡑⢔⠱⠣
